html, body {
  height: 100%;
}

body {
      font: 20px Helvetica, sans-serif;
      color: #333;
      padding: 15px;
      margin: 0;
      display: flex;
      /* This centers our sketch horizontally. */
      justify-content: center;
      /* This centers our sketch vertically. */
      align-items: center;
      /* centers text */
      text-align: center;
      }
h1 { font-size: 40px; }
h2 { color: #808080; }
