html, body {
  height: 100%;
  padding: 0px;
  border: 0px;
}

body {
      font: 20px Helvetica, sans-serif;
      color: #333;
      margin: 0;
      /*display: flex;*/
      /* This centers our sketch horizontally. */
      justify-content: center;
      /* This centers our sketch vertically. */
      align-items: center;
      /* centers text */
      text-align: center;
      }
h1 { font-size: 40px; }
h2 { color: #808080; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
